<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="user.manager.side.infrastructure.persistence.mybatis.mapper.PartyMapper">

	<resultMap id="userResultMap" type="user.manager.side.infrastructure.dto.PartyDto"  >
		<result property="partyId"                             column="PARTY_ID"                                  />
		<result property="partyType"                           column="PARTY_TYPE_ID"                             />
		<result property="description"                         column="DESCRIPTION"                               />
		<result property="statusId"                            column="STATUS_ID"                                 />

		<result property="createdDate"                         column="CREATED_DATE"                              />
		<result property="createByUserLogin"                   column="CREATED_BY_USER_LOGIN"                     />
		<result property="lastModifiedDate"                    column="LAST_MODIFIED_DATE"                        />
		<result property="lastModifiedByUserLogin"             column="LAST_MODIFIED_BY_USER_LOGIN"               />
		<result property="userLoginId"                         column="USER_LOGIN_ID"                             />
		<result property="currentPassword"                     column="CURRENT_PASSWORD"                          />

	</resultMap>

	<resultMap id="roleResultMap" type="user.manager.side.infrastructure.dto.RoleDto"  >
		<result property="partyId"                             column="PARTY_ID"                                  />
		<result property="roleTypeId"                          column="ROLE_TYPE_ID"                              />
		<result property="description"                         column="DESCRIPTION"                               />

	</resultMap>
	
	<select id="nexValueForIdentifier" resultType="java.lang.Long">
		SELECT
			NEXTVAL('PARTY_ID_SEQ')				
	</select>
	
	<insert id="saveParty" parameterType="user.manager.side.infrastructure.dto.PartyDto">
		<![CDATA[
    		INSERT INTO PARTY (PARTY_ID,
    						   PARTY_TYPE_ID,
    						   DESCRIPTION,
    						   STATUS_ID,
							   CREATED_DATE,
						   	   CREATED_BY_USER_LOGIN,
						   	   LAST_MODIFIED_DATE,
						   	   LAST_MODIFIED_BY_USER_LOGIN)
    		VALUES (#{partyId,jdbcType=BIGINT},
    			    #{partyType,jdbcType=VARCHAR},
    		    	#{description,jdbcType=VARCHAR},
    		    	#{statusId,jdbcType=VARCHAR},
					#{createdDate,jdbcType=TIMESTAMP},
					#{createByUserLogin,jdbcType=VARCHAR},
					#{lastModifiedDate,jdbcType=TIMESTAMP},
					#{lastModifiedByUserLogin,jdbcType=VARCHAR})
		]]>
   </insert>
  
   <insert id="saveUserLogin" parameterType="user.manager.side.infrastructure.dto.PartyDto">
	   <![CDATA[
    		INSERT INTO USER_LOGIN (USER_LOGIN_ID,
    						    	ENABLED,
    						    	CURRENT_PASSWORD,
    					   			PARTY_ID)
    		VALUES (#{userLoginId,jdbcType=VARCHAR},
    			    'T',
    		    	#{currentPassword,jdbcType=VARCHAR},
    		    	#{partyId,jdbcType=BIGINT})
    	]]>
   </insert>

	<insert id="saveRole" parameterType="user.manager.side.infrastructure.dto.RoleDto">
	   <![CDATA[
    		INSERT INTO PARTY_ROLE (PARTY_ID,
    						    	ROLE_TYPE_ID,
    						    	DESCRIPTION)
    		VALUES (#{partyId,jdbcType=BIGINT},
    		    	#{roleTypeId,jdbcType=VARCHAR},
    		    	#{description,jdbcType=VARCHAR})
    	]]>
   </insert>


	<select id="findPartyByUserLoginId" parameterType="java.lang.String"  resultMap="userResultMap" useCache="false" flushCache="true">
        <![CDATA[
            SELECT
                P.PARTY_ID AS PARTY_ID,
            	PT.PARTY_TYPE_ID AS PARTY_TYPE_ID,
            	P.DESCRIPTION AS DESCRIPTION,
            	P.STATUS_ID AS STATUS_ID,
				P.CREATED_DATE AS CREATED_DATE,
				P.CREATED_BY_USER_LOGIN AS CREATED_BY_USER_LOGIN,
				P.LAST_MODIFIED_DATE AS LAST_MODIFIED_DATE,
				P.LAST_MODIFIED_BY_USER_LOGIN AS LAST_MODIFIED_BY_USER_LOGIN,
				UL.USER_LOGIN_ID AS USER_LOGIN_ID,
                UL.CURRENT_PASSWORD AS CURRENT_PASSWORD
            FROM PARTY P
            INNER  JOIN PARTY_TYPE PT ON PT.PARTY_TYPE_ID = P.PARTY_TYPE_ID
            INNER JOIN USER_LOGIN UL ON UL.PARTY_ID = P.PARTY_ID
            WHERE UL.USER_LOGIN_ID = #{userLoginId,jdbcType=VARCHAR} AND P.STATUS_ID = 'ENABLED'

        ]]>
    </select>

	<select id="findRoleByUserLoginId" parameterType="java.lang.String"  resultMap="roleResultMap" useCache="false" flushCache="true">
        <![CDATA[
            SELECT
                P.PARTY_ID AS PARTY_ID,
            	PR.ROLE_TYPE_ID AS ROLE_TYPE_ID,
            	PR.DESCRIPTION AS DESCRIPTION
            FROM PARTY P
            INNER JOIN USER_LOGIN UL ON UL.PARTY_ID = P.PARTY_ID
            INNER  JOIN PARTY_ROLE PR ON PR.PARTY_ID = P.PARTY_ID
            WHERE UL.USER_LOGIN_ID = #{userLoginId,jdbcType=VARCHAR} AND P.STATUS_ID = 'ENABLED'

        ]]>
    </select>


</mapper>